<div class="container" style="text-align:center">
    <div class="row" style="text-align:center">
        <div class="col-md-12" style="font-size:22px"> All Details </div>
        <br><br><br><br>
    </div>
    
    <table>
        <tr>
          <th>Waiting</th>
          <th style="text-align:center;">Completed</th>
          <th>Total : {{ total }}</th>
        </tr>
        <tr *ngFor="let details of data ">
          <td style="color: red;font-size: 20px;">{{ details.tokenName }}</td>
          <td style="color:#000;"><a [routerLink] = "['/view',details.other.pid]" class="routerlnk">{{ details.name }}</a></td>
          <td>{{ details.createdAt | date:"dd.MMM h:mm:ss a" }}</td>
        </tr>
        
        
      </table>
      

</div>
